@{
    ViewBag.Title = "PC Usage Statistics";
}

<div class="jumbotron">
    <h1>PC Usage Statistics</h1>
    <p class="lead">The application gives us the PC and Mac Usage statistics by different dimensions.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The application gives us the PC and Mac Usage statistics by different dimensions.
        </p>
        
    </div>
    
</div>